name: Build and Deploy Site

on:
  push:
    paths:
      - "csv/**/*.csv" # Lance le workflow si n'importe quel CSV dans le dossier csv change
      - "generate.py" # ou si le script change

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run script to generate HTML
        run: python generate.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add events/*
          git add courses/*
          git add index.html
          git commit -m "Auto-update site from CSV and courses"
          git push
